<br><br>

<div class="container">
    <form action="/admin/submit" method="POST">
        <label for="title"><h3>Post Title</h3></label>
        <input class="form-control" type="text" name="postTitle">

        <br><br>
        <label for="body"><h3>Post Body</h3></label>
        <p>Input HTML formatted body only!</p>
        <textarea class="form-control" role="textbox" rows="5" name="postBody"></textarea>

        <br><br>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>